.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.navbar_logo{
  margin-left: 1rem;
  color:white;
  font-size:50px;
  font-weight: bolder;
}
.navbar_item{
  display: flex;
}
.navbar_ul {
  display: flex;
  margin: 25px;
}
.navbar_li{
  margin: 0 1rem;
}
a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.stat-cell{
  display: flex;
  justify-content: center;
  align-self: center;
}
.stat-btn {
  width: 100%;
  display: inline-block;
  background: #003057;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.stat-btn:hover {
  background-color: #a28d5b;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.stat {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.func-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 0.5rem;
}

.table-wrapper {
  font-size: 50%;
  max-width: 100%;
  overflow: scroll;
}

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

td,
th {
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 10px;
}

/* The heading of our table */
th {
  background-color: #eee;
  position: sticky;
  top: -1px;
  z-index: 2;
}

/* The first cell that lives in the top left of our spreadsheet */
th:first-of-type {
  left: 0;
  z-index: 3;
}

/* The first column that we want to stick to the left */
tbody tr td:first-of-type {
  background-color: #eee;
  position: sticky;
  left: -1px;
  z-index: 1;
}